[Unit]
Description=GalliumOS model-specific X11 customization for the ChromeOS touchpad driver
Before=lxdm.service

[Service]
ExecStart=/usr/bin/init-cmt-configs
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
