[Unit]
Description=Copies the configs for the ChromeOS touchpad driver
Before=lxdm.service

[Service]
ExecStart=/usr/bin/init-cmt-configs
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
